.nav-icons img{
    height: 28px;
}
.account{
    /* background-color: aqua; */
    background-image: url("./images/principle.jpg");
    background-size: cover;
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.nav-icons{
    display: flex;
    /* align-items: center; */
    
    padding: 10px;
}
.left-side{
    display: flex;
    position: absolute;
    right: 10px;
}
.left-side i{
    margin-right: 20px;
    color: white;
}
.google-name{
    display: flex;
    margin-top: -10px;
    justify-content: center;
}
.google-name img{
  
    height: 12rem;
    width: 13rem;
}
.search{
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: #f4f1f1;
    border-radius: 45px;
    margin-top: -25px;
}
.search .img{
    position: absolute;
    right: 20px;
}
.search img{
    height: 2.3rem;
  
}
.search p{
    color: #888585;
    padding-left: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.templates{
    padding-top: 20px;
    display: flex;
    /* background-color: red; */
    height: 5rem;
}
.temp{
    display: flex;
    align-items: center;
    margin-left: 10px;
   height: 5rem;
   width: 5rem;
    background-color:  #f4f1f1;
   
}
.shoppro{
    width: 15rem;
    border-radius: 45px;
}
.translate{
    width: 9rem;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.temp .icon{
    margin-left: 6px;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 50%;
}
.temp h4{
    color: rgb(78, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    /* font-weight: bold; */
    margin-left: 8px;
}
.temp span{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -10px;
    font-size: 12px;
    margin-left: 8px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon img{
    height: 20px;
  
}
.weather{
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    align-items: center;

}
.weather .weath{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}
.text{
    padding-left: 15px;
}
.text span{
    letter-spacing: 2px;
    position: relative;
    top: -8px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;

}
.discover{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searched{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.saved{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer i{
    padding-bottom: 5px;
}
.img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-content img{
    margin-top: 10px;
    height: 15rem;
    width: 23rem;
    border-radius: 16px;
}
.img-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.info-content{
    display: flex;
    align-items: center;
}
.iconsinfo{
    position: absolute;
    right: 25px;
}
.iconsinfo i{
    margin-right: 10px;
}